Ignore everything by default
*


Allow git to recurse into directories

!*/

Keep this .gitignore file

!.gitignore

Whitelist files or directories below

!README.md

!Picture/Art2/**
!Picture/Closeup/999999**
!Picture/Closeup/88888**
!Expansions/bule_eyes.cdb
!Expansions/honkai_3.cdb
!Expansions/Script/**
!Expansions/pics/**





